{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Please Login</h1>
        <br>
        <form method="post" action="{% url 'basic_app:user_login2' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <br>
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
          <br>
          <input type="submit" name="" value="Login">

        </form>

    </div>
  </div>
{% endblock %}