{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
        <h2>Hope you get well soon!</h2>
        <h3><a href="https://www.google.com/search?q=google&oq=google&aqs=chrome..69i60j69i57j0j69i60l3.9632j1j7&sourceid=chrome&ie=UTF-8">login to gmail</a></h3>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}