{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
 {% if person.designation != 'doctor' %}

  <div class="container">
        <p>{{ person.field }}</p>
        <div class="jumbotron">
            <div class="table-responsive">
                <table class="table table-striped table-bordered zero-configuration">
                    <thead>
                        <tr>
                            <td>doctor</td>
                            <th>day</th>
                            <th>time</th>
                            <th>select appointment</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for i in all %}
                        <tr>
                            <td>{{ i.user }}</td>
                            <td>{{ i.avlday }}</td>
                            <td>{{ i.avltime }}</td>
                            <td><a href="{% url 'basic_app:selectdoctor' pk=i.pk %}">select</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 

  {% endif %}
{% endblock %}