{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
 {% if person.designation == 'doctor' %}

  <div class="container">
        <div class="jumbotron">
            <div class="table-responsive">
                    <form  action="{% url 'basic_app:updatestatus2' pk=ider %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" >
                          </form>
            </div>
        </div> 

  {% endif %}
{% endblock %}